.loginScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundLogin {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url('/src/assets/images/millionaire_.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #040444;
}

.w100vh {
  width: 100vw;
}

.h100vh {
    height: 100vh;
}

.sider2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue
}